name: Build

on:
  push:
    branches: [ "v*" ]

permissions:
  contents: write

jobs:
  release_onnx:
    runs-on: self-hosted
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        run: |
          docker buildx build \
            -f build/Dockerfile.onnxruntime \
            --output type=local,dest=out/ .
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        shell: bash

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: onnxruntime-${{ github.ref_name }}
          path: |
            out/*.whl
          retention-days: 3
