name: ROCm Build

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_rocm:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up QEMU and Buildx
        id: setup
        uses: ./.github/actions/setup
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: build/Dockerfile.rocm-builder
          push: true
          platforms: linux/amd64
          tags: ${{ steps.setup.outputs.image-name }}
          cache-from: type=registry,ref=${{ steps.setup.outputs.cache-name }}
          cache-to: type=registry,ref=${{ steps.setup.outputs.cache-name }},mode=max
        env:
          ACTIONS_STEP_DEBUG: true
